/******* HEADER *******/
*{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

header {
    text-decoration-color: black;
    
    min-height: 5vw;
    max-height: 20px;
    
    background-color: #666666;
    box-shadow: inset; 
    box-shadow: 3px 5px 4px rgb(81, 78, 78);
    text-align: left;
    padding: 5%;
    margin: auto;
    border-bottom: 1vw;
}

#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    font-size: 3vw;
    margin-right: 150px;
    color: rgb(0, 0, 0);
}

#top a{
    margin: 20px;
    text-decoration: none;
    font-size: 2vw;
    color: black;
}


/**** BODY ****/

body {
    background-color: #686768;
    font-family: "Nobile";
    font-size: 20px;
    margin:0;
}


/* Descrição */

#inicio{
    background-color:#1f1e1e;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#image{
    border-radius: 360px;
    width: 300px;
    height: 300px;
    margin: 2em;
}

#descrição{
    width: 30em;
    text-align: justify;
    margin: 8px;
    color: rgb(212, 212, 212);
}

/* Hobbies + Top 5 */

.lists{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}




.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    gap: 15px;
}

.box p{
    width: 100px;
    height: 50px;
    font-size: 15px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    border-radius: 10px;
    text-align: center;
    line-height: auto;
}
.jogos p{
    background-color: #3444d4;
    
}
.hobbies p{
    background-color: #ee4343;
}
.subHobbies{
    color: #a70a0a;
    margin-right: 28px;
    padding-top: 30px;
    align-self: flex-start;
    text-align: end;

}
.subTops{
    color:#0e2b8a;
    margin-left: 28px;
    padding-top: 30px;
    align-self: flex-end;
    text-align: start;
    display: flex;
    justify-content: left;
    align-items: center;
}

.blocos > div{
    margin: 0 25px;
}

#number1{
    
}

/****** FOOTER ******/

footer{
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 60%;
}
.rodape{
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 5px;
}
#insta:hover{
    background-color: #666666;
}
#icon_git{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}

#icon_home{
    width: 40px;
    height: 40px;
    margin: 0 10px 0 10px;
}

#icon_insta{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
}

.botao{
    color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    background-color: black;
    height: 24px;
    width: 130px;
    padding: 4px;
    border-radius: 10px;
    font-size: 15px;
    align-items: center;
}
.botao:hover{
    background-color: #4e4e4e;
}

@media only screen and (max-width:820px) {
    
    .subHobbies {
        align-self: left;
        text-align: left;
    }
    .subTops{
        text-align: left;
        margin-left: 0px;
    }
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 5px;
        gap: 20%;
        height: 80px;
    }
    .rodape{
        gap: 15px;
        justify-content: center;
    }

    .botao{
        margin-top: 40px;
    }
}